header {
    color: white; 
    display: flex;
    justify-content: center;
}    
body { 
background-image: url('https://realisticwanderlust.com/assets/images/photographing-milky-way/streak-edited.jpeg');
background-repeat: no-repeat;

background-size: cover;
background-color: black
}
h1 {
    font-size: 40px;
}

p {
    font-style: italic;
    color: white;
    font-size: 20px;
}
navbar {
    overflow: hidden;
    background-color: black;
    font-family: Arial;
  }
  navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
 
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
 
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: darkslateblue;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
   